<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Driver Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/driver-reimbursement">Driver Reimbursement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/support-material">Support Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/outreach-signup">Outreach Signup</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron mb-3" style="background-color: #3954AE; border-radius: 0px;">
    <h1 class="text-center text-white">Driver Reimbursement</h1>
</div>

<div class="container">
    
</div>