<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Driver Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/driver-reimbursement">Driver Reimbursement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/support-material">Support Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/outreach-signup">Outreach Signup</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Getting Started Volunteering Banner -->
<div class="jumbotron mb-1" id="banner" style="background-color: #3954AE; border-radius: 0px;">
    <div class="container-fluid">
        <h1 class="text-white text-center">Supporting TeCanal Drivers</h1>
        <p class="text-white text-center mb-0">
            Can't drive yet? <a class="text-white" style="text-decoration: underline;" href="https://tecanal.org/volunteer">Find out other ways to volunteer here.</a>
        </p>
    </div>
</div>

<!-- Step-by-Step Volunteer Enrollment Process -->
<div class="container">
    <h3 class="mt-3">Drivers are an integral part of TeCanal's functioning.</h3>
    <p>
        That's why we created this website in an effort to better support our drivers. On this website you will find best practices for driving, ways to get reimbursed for driving, and much more.
    </p>
</div>