<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Driver Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/driver-reimbursement">Driver Reimbursement</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/support-material">Support Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/outreach-signup">Outreach Signup</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Getting Started Volunteering Banner -->
<div class="jumbotron mb-1" id="banner" style="background-color: #3954AE; border-radius: 0px;">
    <div class="container-fluid">
        <h1 class="text-white text-center">Driver Support Material</h1>
    </div>
</div>

<!-- Step-by-Step Volunteer Enrollment Process -->
<div class="container-fluid">
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <a href="https://docs.google.com/presentation/d/1KtkSOg0HAkVVw3gJBvh_4Ofa4yIozcKO8TV1nS33xHQ/edit?usp=sharing">
                <h4>TeCanal Volunteer Handbook</h4>
            </a>
            <p class="mb-0">
                This will teach you all you need to know about participating in a TeCanal Outreach and give you tips about how to deal with various behaviors and situations. There is also a specific section for the drivers.
            </p>
        </li>
        <li class="list-group-item">
            <h4>The Best Routes &amp; Where to Park</h4>
        </li>
        <li class="list-group-item">
            <a href="#">
                <h4>TeCanal Outreach Driving Spotify Playlist</h4>
            </a>
            <p class="mb-0">
                We at TeCanal love good music, and have prepared this playlist in order to liven up the mood in the car before and after an outreach session.
            </p>
        </li>
    </ul>
</div>