<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Volunteer Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#/">Getting Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/why-volunteer">Why Volunteer?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/outreach-signup">Outreach Signup</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Getting Started Volunteering Banner -->
<div class="jumbotron mb-1" id="banner" style="background-color: #3954AE; border-radius: 0px;">
    <div class="container-fluid">
        <h1 class="text-white text-center">Getting Started Volunteering</h1>
        <p class="text-white text-center mb-0">
            Who are we? <a class="text-white" style="text-decoration: underline;" href="https://tecanal.org">Find out here.</a>
        </p>
    </div>
</div>

<!-- Step-by-Step Volunteer Enrollment Process -->
<div class="container-fluid">
    <h4 class="mt-3 mb-3">1. Before volunteering, you must fill out all necessary forms and waivers.</h4> 
    <p>
        * Please allow for an ~1 hour before and after for commute, setup, and cleanup.
    </p>

    <!-- Heading -->
    <div class="row">
        <div class="col">
            <p class="text-center font-weight-bold mb-0">Outreach Location</p>
        </div>

        <div class="col">
            <p class="text-center font-weight-bold mb-0">Forms &amp; Waivers</p>
        </div>
    </div>

    <!-- Outreach Information + Waivers -->
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="location in outreaches">
            <div class="row">
                <div class="col">
                    <p class="mb-0">
                        {{location.name}}
                    </p>
                    <p class="mb-0">
                        <b>Time: </b>{{location.time}}*
                    </p>
                    <p class="mb-0">
                        <b>Address: </b><a href="{{location.link}}" target="_blank">{{location.address}}</a>
                    </p>
                </div>

                <div class="col">
                    <ol>
                        <li ng-repeat="waiver in location.waivers">
                            <a href="{{waiver.link}}" target="_blank">{{waiver.name}}</a>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
    </ul>

    <h4 class="mt-3">2. Join Our Remind</h4>
    <p>
        This is where we send out which outreaches are happening each week and any other important announcements. <a href="https://www.remind.com/join/tecanal">Join here!</a>
    </p>
</div>