<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Volunteer Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#/">Getting Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/outreach-signup">Outreach Signup</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Getting Started Volunteering Banner -->
<div class="jumbotron mb-1" id="banner" style="background-color: #3954AE; border-radius: 0px;">
    <div class="container-fluid">
        <h1 class="text-white text-center">Getting Started Volunteering</h1>
    </div>
</div>

<!-- Step-by-Step Volunteer Enrollment Process -->
<div class="container-fluid">
    <h4 class="text-center">Fill out all necessary forms and waivers.</h4> 
    * Please allow for an ~1 hour before and after for commute, setup, and cleanup.

    <!-- Heading -->
    <div class="row">
        <div class="col">
            <p class="text-center font-weight-bold mb-0">Outreach Location</p>
        </div>

        <div class="col">
            <p class="text-center font-weight-bold mb-0">Forms &amp; Waivers</p>
        </div>
    </div>

    <!-- Mattie B. Uzzle Outreach Center -->
    <div class="row">
        <div class="col">
            <p class="mb-0">
                Mattie B. Uzzle Outreach Center
            </p>
            <b>Time: </b>Fridays; 4:00pm-5:00pm*<br>
            <b>Location: </b>
            <a href="https://www.google.com/maps/place/Mattie+B.+Uzzle+Outreach+Center/@39.3049494,-76.5903036,17z/data=!3m1!4b1!4m5!3m4!1s0x89c8046759570a2b:0xa1854f4e1c094c82!8m2!3d39.3049494!4d-76.5881149" target="_blank" >
                1212 N Chester St. Baltimore, MD
            </a><br>
        </div>

        <div class="col">
            <a href="http://res.cloudinary.com/tecanal/raw/upload/v1491913627/TeCanalWaiverOriginal_wwmsfr.pdf" target="_blank">
                1. TeCanal General Waiver
            </a><br>

            <a href="http://res.cloudinary.com/tecanal/raw/upload/v1491913627/MattieB.UzzleProceduresPolicies_ahmivp.pdf" target="_blank">
                2. Mattie B. Uzzle Waiver
            </a>
        </div>
    </div><br>

    <!-- Immigration Outreach Service Center -->
    <div class="row">
        <div class="col">
            <p class="mb-0">
                Immigration Outreach Service Center
            </p>
            <b>Time: </b>Saturdays; 3:00pm-4:00pm*<br>
            <b>Location: </b><a href="https://www.google.com/maps/place/Immigration+Outreach+Service+Center/@39.355745,-76.5913927,17z/data=!3m1!4b1!4m5!3m4!1s0x89c80584b27abda9:0x8311976ca1c552bd!8m2!3d39.355745!4d-76.589204" target="_blank" >5302 Harford Rd. Baltimore, MD</a><br>
        </div>

        <div class="col">
            <a href="http://res.cloudinary.com/tecanal/raw/upload/v1491913627/TeCanalWaiverOriginal_wwmsfr.pdf" target="_blank">
                1. TeCanal General Waiver
            </a><br>

            <a href="http://res.cloudinary.com/tecanal/raw/upload/v1516559382/ArchdioceseApp_oynsvp.pdf">
                2. Baltimore Archdiocese Application
            </a><br>

            <a href="http://res.cloudinary.com/tecanal/raw/upload/v1516559207/IOSCApp_h9ggxl.pdf">
                3. IOSC Application
            </a>
        </div>
    </div><br>

    <!-- Tench Tilghman Elementary School -->
    <div class="row">
        <div class="col">
            <p class="mb-0">
                Tench Tilghman Elementary School
            </p>
            <b>Time: </b>Tuesdays, Thursdays; 3:30pm-5:00pm*<br>
            <b>Location: </b>
            <a href="https://www.google.com/maps/place/Tench+Tilghman+Elementary%2FMiddle+School/@39.2977925,-76.5874221,17z/data=!3m1!4b1!4m5!3m4!1s0x89c80465a31ad6e3:0xb83c2537577e235f!8m2!3d39.2977925!4d-76.5852334"
                    target="_blank">600 N Patterson Park Ave Baltimore, MD</a><br>
        </div>
            
        <div class="col">
            <a href="http://res.cloudinary.com/tecanal/raw/upload/v1491913627/TeCanalWaiverOriginal_wwmsfr.pdf"
                target="_blank">
                1. TeCanal General Waiver
            </a>
        </div> 
    </div>
</div>