<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Volunteer Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/home">Getting Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/why-volunteer">Why Volunteer?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/training-material">Training Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/outreach-signup">Outreach Signup</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron mb-3" style="background-color: #3954AE; border-radius: 0px;">
    <h1 class="text-center text-white">Outreach Signup</h1>
</div>

<div class="container-fluid">
    <p class="text-center font-weight-bold">
        In order to accurately record outreach volunteering history, please use your real first and last name and do not use any special symbols. If you fail to do this, your hours will not be counted in the database.
    </p>

    <p class="text-right">
        <a class="btn btn-success" href="#/driver-registration">Driver Registration</a>
    </p>

    <h1 class="text-center" ng-show="cars.length == 0">No Cars Registered</h1>

    <div class="jumbotron" style="padding: 2rem 2rem" ng-repeat="item in cars | orderBy: 'sessionDate'">
        <p class="mb-1">
            <b>Driver: </b>{{item.driver}}
        </p>

        <p class="mb-1">
            <b>Origin: </b>{{item.startingPoint}}
        </p>

        <p class="mb-1">
            <b>Destination: </b>{{item.destination}}<br>
        </p>

        <p class="mb-1">
            <b>Email: </b>{{item.email}}<br>
        </p>

        <p class="mb-1">
            <b>Phone: </b>{{item.phoneNumber | tel}}<br>
        </p>

        <p class="mb-1">
            <b>Date: </b>{{item.sessionDate}}<br>
        </p>
    
        <p class="mb-1">
            <b>Riders:</b>
        </p>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar"
                aria-valuenow="{{item.numRiders/item.maxRiders * 100}}" aria-valuemin="0" aria-valuemax="100"
                style="width: {{item.numRiders/item.maxRiders * 100}}%">
                <b>{{item.numRiders}} / {{item.maxRiders}}</b>
            </div>
        </div>
    
        <p class="mt-1 mb-1">
            <b>People In Car:</b>
        </p>
        
        <span style="display: inline">
            {{item.names.join(', ')}}
        </span><br>
    
        <p class="text-right mb-0">
            <button class="btn btn-primary" ng-class="{disabled: cars.numRiders == cars.maxRiders}" data-ng-click="addRider(cars.indexOf(item))">Join Car</button>
        </p>
    </div>
</div>
