<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Volunteer Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/">Getting Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/why-volunteer">Why Volunteer?</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/training-materials">Training Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/outreach-signup">Outreach Signup</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Getting Started Volunteering Banner -->
<div class="jumbotron mb-1" id="banner" style="background-color: #3954AE; border-radius: 0px;">
    <div class="container-fluid">
        <h1 class="text-white text-center">Volunteer Training Material</h1>
    </div>
</div>

<!-- Step-by-Step Volunteer Enrollment Process -->
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://docs.google.com/presentation/d/1KtkSOg0HAkVVw3gJBvh_4Ofa4yIozcKO8TV1nS33xHQ/edit?usp=sharing">
                <h4>TeCanal Volunteer Handbook</h4>
            </a>
            <p class="mb-0">
                This will teach you all you need to know about participating in a TeCanal Outreach and give you tips about how to deal with various behaviors and situations.
            </p>
        </li>
        <li class="list-group-item">
            <a href="http://scratched.gse.harvard.edu/sites/default/files/a.all_blocks_of_scratch_0.pdf">
                <h4>Every Scratch Block Explained</h4>
            </a>
            <p class="mb-0">
                If you are at an outreach location that is teaching Scratch, this is a great tool to learn what each block does. It is also advised that you play around and test things on the <a href="https://scratch.mit.edu">Scratch website</a> as well.
            </p>
        </li>
    </ul>
</div>