<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Volunteer Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/">Getting Started</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/why-volunteer">Why Volunteer?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/training-material">Training Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/outreach-signup">Outreach Signup</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron mb-3" style="background-color: #3954AE; border-radius: 0px;">
    <h1 class="text-center text-white">Why Volunteer?</h1>
</div>

<div class="container">
    <h4>We recognize hard workers.</h4>
    <p>
        If you work hard enough within TeCanal, you could be eligible for the <a
            href="https://www.presidentialserviceawards.gov/">Presidential Volunteer Service Award</a> or the <a
            href="https://gosv.maryland.gov/governors-service-awards/">Maryland Governor's Service Award</a>. You could also
        have enough merit and experience to apply to be our very own Executive Officer or Volunteer Coordinator.
    </p>

    <h4>You can help others.</h4>
    <p>
        We go into communities that are frequently understaffed and underresourced. It is our unique privelege to serve with our partner organizations in order to give quality STEM Education and technology resources to people who need them.
    </p>

    <h4>You can learn new skills.</h4>
    <p>
        Our volunteers frequently learn new things like Scratch, Python, or how to use a Raspberry Pi in order to better teach their students. This allows you to accumulate new knowledge that can help you going forth in your college and career.
    </p>

    <h4>You can get volunteer hours.</h4>
    <p>
        We offer up to two hours per outreach session you attend, and up to three hours if you help transport other volunteers there. Our hours apply to any Honor Society you may belong to.
    </p>
</div>