<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#/">TeCanal Apply</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/eo">Executive Officer</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="text-center">
        Executive Officer
    </h1>

    <h3 class="text-center">
        Applications are due by Monday, August 17th, 2020 at 11:59pm EST.
    </h3>

    <p class="text-center">
        <strong>
            Email <a href="mailto:application@tecanal.org">application@tecanal.org</a> if you have any questions.
        </strong>
    </p>

    <h2>
        How to Submit An Application
    </h2>
    <a class="btn btn-lg btn-success mb-2" href="https://share.hsforms.com/16UrKamosRUqzRVqcEA045A4ufld">Link to Application Form</a>

    <h2>Open Positions</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" target="_self" id="ceo-tab" data-toggle="tab" href="#ceo" role="tab" aria-controls="ceo"
                aria-selected="true">
                CEO
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" target="_self" id="cfo-tab" data-toggle="tab" href="#coo" role="tab" aria-controls="coo" aria-selected="false">COO</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" target="_self" id="cfo-tab" data-toggle="tab" href="#cfo" role="tab" aria-controls="cfo" aria-selected="false">CFO</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" target="_self" id="cto-tab" data-toggle="tab" href="#cto" role="tab" aria-controls="cto" aria-selected="false">CTO</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" target="_self" id="chro-tab" data-toggle="tab" href="#chro" role="tab" aria-controls="chro"
                aria-selected="false">CHRO</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" target="_self" id="cmo-tab" data-toggle="tab" href="#cmo" role="tab" aria-controls="cmo" aria-selected="false">CMO</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="ceo" role="tabpanel" aria-labelledby="ceo-tab">
            <h3>CEO: Chief Executive Officer</h3>
            <b>Roles:</b>
            <ul>
                <li>Lead and manage all of the executive officers</li>
                <li>Communicate with current and potentially new outreach partners</li>
                <li>Represent the company at events, outreach, and everywhere else</li>
                <li>Generate new ideas and initiatives to advance the organization</li>
                <li>Schedule and run meetings with the other Executive Officers</li>
                <li>Communicate with the Board of Directors on all of the organization's actions and strategies</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="coo" role="tabpanel" aria-labelledby="coo-tab">
            <h3>COO: Chief Operating Officer</h3>
            <b>Roles:</b>
            <ul>
                <li>Write new educational curriculum</li>
                <li>Take meeting minutes at the Executive Officer meetings</li>
                <li>Create a suitable outreach expansion and development plan at the beginning of the Fiscal Year
                    (January)</li>
                <li>Plan outreach sessions</li>
                <li>File a report on each of the outreach sessions</li>
                <li>Coordinate with outreach directors, volunteers, students, and other executives</li>
            </ul>
        </div>
        <div id="cfo" class="tab-pane fade" role="tabpanel" aria-labelledby="cfo-tab">
            <h3>CFO: Chief Financial Officer</h3>
            <b>Roles:</b>
            <ul>
                <li>Run donation campaigns</li>
                <li>Create budget at beginning of fiscal year (January)</li>
                <li>Calculate total income received and money spent at end of fiscal year</li>
                <li>Make decisions on how to spend money</li>
                <li>Lead fundraising programs</li>
                <li>Research grants and assist in applying to them with the TeCanal Collegiate Finance Committee</li>
                <li>Contact business and government leaders to request funding</li>
            </ul>
        </div>
        <div id="cto" class="tab-pane fade" role="tabpanel" aria-labelledby="cto-tab">
            <h3>CTO: Chief Technology Officer</h3>
            <b>Roles:</b>
            <ul>
                <li>Maintain and manage all web content</li>
                <li>Maintain old and develop new educational games</li>
                <li>Maintain old and develop new administrative applications </li>
                <li>Process all technology donations</li>
                <li>Discuss operations and curriculum with the COO</li>
                <li>Maintain, purchase, and update outreach computers and other technology equipment. </li>
            </ul>
        </div>
        <div id="chro" class="tab-pane fade" role="tabpanel" aria-labelledby="chro-tab">
            <h3>CHRO: Chief Human Resources Officer</h3>
            <b>Roles:</b>
            <ul>
                <li>Develop volunteer training materials</li>
                <li>Oversee Volunteer Coordinators and conducts meetings with them monthly</li>
                <li>Keep meticulous records of who is volunteering on what specific dates</li>
                <li>Recruit new volunteers from other schools</li>
                <li>Keep track of and communicating with both the Board of Director and the CEO any disciplinary
                    problems reported by outreach students, fellow volunteers, or any other individuals who interact
                    with TeCanal in other capacities</li>
                <li>Act as a formal liaison between volunteers and the organization</li>
                <li>Track hours of volunteers for Presidential Volunteer Service Award</li>
            </ul>
        </div>
        <div id="cmo" class="tab-pane fade" role="tabpanel" aria-labelledby="cmo-tab">
            <h3>CMO: Chief Marketing Officer</h3>
            <b>Roles:</b>
            <ul>
                <li>Oversee and maintain TeCanal's presence on a variety of social media platforms</li>
                <li>Maintain a monthly newsletter</li>
                <li>Facilite a positive relationship with local news media, including the publicization of our events
                    and the dispersion of our message.</li>
            </ul>
        </div>
    </div>
</div>
