<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#/">TeCanal Apply</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/eo">Executive Officer</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="text-center">
        Executive Officer
    </h1>

    <h3 class="text-center">
        Applications are due by Monday, August 17th, 2020 at 11:59pm EST.
    </h3>

    <p class="text-center">
        <strong>
            Email <a href="mailto:application@tecanal.org">application@tecanal.org</a> if you have any questions.
        </strong>
    </p>

    <h2>
        How to Submit An Application
    </h2>
    <ol>
        <li>
            Answer the applications questions below in under 1,000 words combined and save it as a PDF.
        </li>

        <li>
            In the body of an email, write your name, school, and rising grade. Attach your application responses and send the email to <a href="mailto:application@tecanal.org">application@tecanal.org</a>.
        </li>
    </ol>

    <h2>
        Application Questions
    </h2>
    <p class="text-strong mb-1">
        <strong>Your answers to the four questions should be no greater than 1,000 words combined.</strong>
    </p>

    <ol>
        <li>
            What are you passionate about?
        </li>

        <li>
            What would you do with ten thousand dollars?
        </li>

        <li>
            What unique qualities and skills would you bring to TeCanal?
        </li>

        <li>
            How can TeCanal fulfill its mission during the COVID-19 pandemic?
        </li>
    </ol>

    <h2>
        What do Executive Officers do?
    </h2>
    <ul>
        <li>
            Communicate with community partners and forge new partnerships
        </li>

        <li>
            Generate new ideas and initiatives to advance the organization
        </li>

        <li>
            Write new curriculum for outreach sessions
        </li>

        <li>
            Lead fundraising programs and apply for grants
        </li>

        <li>
            Develop and maintain web content
        </li>

        <li>
            Manage, represent, and recruit volunteers
        </li>

        <li>
            Oversee and maintain TeCanal's presence on a variety of social media platforms
        </li>
    </ul>
</div>
