<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">TeCanal Apply</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#/eo">Executive Officer</a>
            </li>
            <!-- <li class="nav-item" ng-show="user">
                <a class="nav-link" href="#/applications">Applications</a>
            </li> -->
        </ul>

        <ul class="navbar-nav" ng-show="user">
            <li class="nav-item">
                <a class="nav-link" ng-click="logout()" href="javascript:void(0)">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<style>
    /* Make Display Heading Mobile Friendly */
    @media (max-width: 575.98px) {
        .display-1 {
            font-size: 3rem;
            font-weight: 300;
            line-height: 1.0;
        }
    }

    /* Hide Vertical Rule on Mobile */
    @media screen and (min-width: 600px) {
        #eo {
            border-right: 1px solid black
        }
    }
</style>

<!-- Application Banner -->
<div class="jumbotron" id="banner">
    <div class="container-fluid">
        <h1 class="display-1">Join the TeCommunity</h1>
        <h2>Apply to be a part of an organization run by students to benefit the community.</h2><br>
    </div>
</div>

<!-- EO Information Panels -->
<div class="container-fluid">
    <h3 class="text-center">
        <a href="#/eo">Executive Officer Applications</a> are due by Monday, August 17th, 2020 at 11:59pm EST.
    </h3>

    <p class="text-center">
        Email <a href="mailto:application@tecanal.org">application@tecanal.org</a> if you have any questions.
    </p>

    <p>
        Five years ago, TeCanal, a student-run charitable nonprofit organization, was founded with the mission of using technology and STEM education to empower youth in low-income communities. Today, TeCanal serves over seventy children in some of the most impoverished communities in Maryland each year.
    </p>

    <p>
        TeCanal is looking for new executive officers to lead TeCanal during the 2020-2021 academic year. You must be a rising sophomore, junior, or senior at a Maryland high school to apply. Executive officers will be expected to attend all meetings, which will be held weekly. For the remainder of 2020 (and perhaps beyond), all meetings will be virtual. 
    </p>

    <p>
        We hope to appoint a new suite of executive officers who believe in the power of technology and STEM education in making our world a better place. Our vision is a world where everyone has the technology resources and STEM education they need to achieve their potential. Working towards this vision is needed now more than ever, as education is impossible without access to technology and digital literacy. We encourage you to be part of our next generation of leaders and help make TeCanal's vision come true!
    </p>

    <p class="text-center">
        <a class="btn btn-success" href="#/eo">Click here for more details</a>
    </p>
</div>
